<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <!--<link rel="stylesheet" href="/static/css/complab.css">-->
    </head>
    <body>
        {{{body}}}

        <!--<div class="website-container">
            <div class="website">
                <h1>Working working 123</h1>
                {{>navbar}}
                {{{body}}}
            </div>
        </div>-->

    </body>
</html>