<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Laboratory/Home_Page</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="root">
            <div>
                <nav id="nav_bar">
                <ul>
                    <li>
                        <div id="logo"></div>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                    <li>
                        <a href="/labsearch">Labs</a>
                    </li>
                    <li>
                        <a href="/profileSearch">Profiles</a>
                    </li>
                    
                    <li id="logout">
                        <a onclick="logOut()" href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        
            <h1 class="heading">&nbsp;Software Laboratory Reservations</h1>
                <div class="flex">
                    <p>Sign Up and</p>
                    <p class="description">&nbsp;Reserve Now!!</p>
                </div>
                <div class="button_box">
                    <button class="button_reserve" href="labPage.hbs">Reserve Slot!</button>
                </div>
                <!--<div class="button_box">
                    <button class="button_reserve_2" href="computerlab.html">Or As Guest</button>
                </div>-->
            </div>
            
            <img id="bg_img" src="/img/Computer-Lab-Background.png">

        </div>
            </body>
</html>