<!DOCTYPE html>
<html>
    <head>
        <title>
            "Placeholder" Computer Lab Reservation System Registration
        </title>

        <nav id="nav_bar">
            <ul>
                <li>
                    <div id="dlsuLogo"></div>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/login">Log In</a>
                </li>
                <li>
                    <a href="/labsearch">Labs</a>
                </li>
                <li id="logout">
                    <a onclick="logOut()" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        
        <link rel="stylesheet" href="/css/reg_log_design.css">
        <script src="/js/signupScript.js"></script>
    </head>

    <body>
            <div id="formContainer">
                <h1 style="text-align: center;">Registration</h1>
                <form>
                    <br>
                    <label for="mail">Email</label>
                    <br>
                    <input id="mail" name="dlsu_email" type="text" required minlength="16" placeholder="{{userMail}}" size="48" required>
                    <br>
                    <br>
                    <label for="pass">Password</label>
                    <br>
                    <input id="pass" name="email_pass" type="password" required minlength="8" size="24" required>
                    <br>
                    <label for="passConf">Confirm Password</label>
                    <br>
                    <input id="passConf" name="pass_conf" type="password" required minlength="8" size="24" required>
                    <br>
                    <br>
                    <br>
                    <br>

                    <button type='button' id="submit">Create Account</button>

                    <a href="/">
                        <button type="button">Cancel</button>
                    </a>
                    <br>
                    <p id="errorMsg">{{errorMsg}}</p>
                </form>
            </div>
    </body>
</html>